@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* ========================CLASS GENERAL================ */
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.j_center{
  justify-content: center;
}
.j_around{
  justify-content: space-around;
}
.j_between{
  justify-content: space-between;
}
.a_center{
  align-items: center;
}
/* =========================END OF GENERAL CLASS============== */


header{
  width: 100%;
  height: 5vh;
  padding: 0px;
  margin: 0px;
  font-family: 'Staatliches', cursive;
  position: fixed;
  top: 0%;
}
nav{
  width: 100%;
  height: 100%;
  background-color: rgb(57, 62, 70);
}

nav ul{
  position: relative;
  width: 50%;
  height: 100%;
  list-style-type: none;
}

#Title_Page{
  position: absolute;
  left: 10%;
}

#Discussion_Menu{
  width: 50%;
  height: 100%;
}



/* ============================NAV DEROULANT================================= */
#Profil_Menu{
  position: relative;
  width: 50%;
  text-align: center;
  height: 100%;
}

#Profil_submenu{
  text-decoration: none;
  color: black;
  height: 100%;
  width: 50%;
  text-align: center;
}

#submenu{
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#submenu li{
  background-color: rgba(57, 62, 70);
  border-bottom: 1px solid black;
}

#submenu li a{
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

/* ==========================HOVER=========================== */
#Profil_submenu:hover{
  color: white;
}

#Profil_submenu:hover + ul{
  display: block;
  position: absolute;
  top: 100%;
  z-index: 100;
}

#submenu:hover{
  display: block;
  position: absolute;
  top: 100%;
  z-index: 100;
}

#submenu li:hover{
  background-color: rgba(255, 0, 0, 0.5);
}
