html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}
#Main_index{
  margin-top: 5vh;
  width: 100%;
}
#Index_Images{
  height: 70vh;
  width: 100%;
  background: url(../ressources/images/davyjones_piano.jpg) no-repeat center;
  background-size: contain;
}


#Box_text{
  width: 100%;
  margin-top: 5vh;
  height: 20vh;
}
#Box_left{
  width: 40%;
  height: 90%;
  text-align: center;
  font-family: Oswald, 'cursive';
  border: 2px solid rgba(15, 15, 15, 0.7);
  border-radius: 3%;
  background-color: rgba(47, 64, 217, 0.2);
}

#Box_right{
  width: 40%;
  height: 90%;
  text-align: center;
  font-family: Oswald, 'cursive';
  border: 2px solid rgba(15, 15, 15, 0.7);
  border-radius: 3%;
  background-color: rgba(47, 64, 217, 0.2);
}
